/*!
================================================  
*    Author     : Wian Khaerul Amri
*    Document   : CSS
*    Framework  : SYNTHETIC CSS
*    VERSION    : V1.5.0
*==================================================
*/
/*@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  
        url('fonts/Roboto-Regular.woff') format('woff'), 
        url('fonts/Roboto-Regular.ttf')  format('truetype'), 
        url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
 }
*/
 @font-face {
  font-family: 'Roboto';
  src: url('../goadmin/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  
          url('../goadmin/fonts/Roboto-Medium.woff') format('woff'), 
          url('../goadmin/fonts/Roboto-Medium.ttf')  format('truetype'), 
          url('../goadmin/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../goadmin/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  
        url('../goadmin/fonts/Roboto-Bold.woff') format('woff'), 
        url('../goadmin/fonts/Roboto-Bold.ttf')  format('truetype'), 
        url('../goadmin/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../goadmin/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),  
        url('../goadmin/fonts/Roboto-Italic.woff') format('woff'), 
        url('../goadmin/fonts/Roboto-Italic.ttf')  format('truetype'), 
        url('../goadmin/fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../goadmin/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  
        url('../goadmin/fonts/Roboto-Light.woff') format('woff'), 
        url('../goadmin/fonts/Roboto-Light.ttf')  format('truetype'), 
        url('../goadmin/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url(../goadmin/fonts/material-design/Material-Design-Iconic-Fontd1f1.woff2?v=2.2.0) format("woff2"),url(../goadmin/fonts/material-design/Material-Design-Iconic-Fontd1f1.woff?v=2.2.0) format("woff"),url(../goadmin/fonts/material-design/Material-Design-Iconic-Fontd1f1.ttf?v=2.2.0) format("truetype");
    font-weight: 400;
    font-style: normal
}


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline
}

* {
    margin: 0;
    padding: 0;
    outline-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

::-moz-selection {
    background-color: #FFBF05;
    color: #fff
}

::selection {
    background-color: #FFBF05;
    color: #fff
}

body {
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    color: #2a2a2a;
    font-weight: normal
}

button {
    cursor: pointer;
    background: inherit
}

input {
    outline-style: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 0;
            border-radius: 0;
}

input:focus,
input:active,
input:visited{
    background: transparent;
}

textarea {
    outline-style: none;
    resize: none
}

input,select,textarea {
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    font-family: "Roboto",sans-serif;
    border: 1px solid #cccccc
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    outline-style: none;
    color: inherit
}

a:focus,a:hover,a:active,a:visited {
    text-decoration: none
}

:link,:visited {
    text-decoration: none;
    outline-style: none
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: inherit;
    color: inherit
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 32px
}

h3 {
    font-size: 28px
}

h4 {
    font-size: 24px
}

h5 {
    font-size: 20px
}

h6 {
    font-size: 16px
}

.h1 {
    font-size: 36px
}

.h2 {
    font-size: 32px
}

.h3 {
    font-size: 28px
}

.h4 {
    font-size: 24px
}

.h5 {
    font-size: 20px
}

.h6 {
    font-size: 16px
}

.l-1 {
    width: 8.3333333333%
}

.l-2 {
    width: 16.6666666667%
}

.l-3 {
    width: 25%
}

.l-4 {
    width: 33.3333333333%
}

.l-5 {
    width: 41.6666666667%
}

.l-6 {
    width: 50%
}

.l-7 {
    width: 58.3333333333%
}

.l-8 {
    width: 66.6666666667%
}

.l-9 {
    width: 75%
}

.l-10 {
    width: 83.3333333333%
}

.l-11 {
    width: 91.6666666667%
}

.l-12 {
    width: 100%
}

.container {
    width: 1180px;
    max-width: 100%;
    position: relative;
    margin: 0 auto
}

.container-full {
    width: calc(100% - 45px);
    position: relative;
    height: 100%
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.row:after {
    content: "";
    clear: both;
    display: table
}

.row.inline {
    display: block;
    font-size: 0
}

.row.table {
    display: table;
    width: 100%;
    margin: 0;
    font-size: 0
}

.row.min-50 {
    margin-left: -50px;
    margin-right: -50px
}

.row.min-45 {
    margin-left: -45px;
    margin-right: -45px
}

.row.min-40 {
    margin-left: -40px;
    margin-right: -40px
}

.row.min-35 {
    margin-left: -35px;
    margin-right: -35px
}

.row.min-30 {
    margin-left: -30px;
    margin-right: -30px
}

.row.min-25 {
    margin-left: -25px;
    margin-right: -25px
}

.row.min-20 {
    margin-left: -20px;
    margin-right: -20px
}

.row.min-10 {
    margin-left: -10px;
    margin-right: -10px
}

.row.min-5 {
    margin-left: -5px;
    margin-right: -5px
}

.row.min-0 {
    margin-left: 0;
    margin-right: 0
}

.row.nomargin {
    margin: 0
}

.col {
    position: relative;
    padding-left: 15px;
    padding-right: 15px
}

.col.float {
    float: left
}

.col.inline {
    display: inline-block;
    font-size: 14px;
    vertical-align: top
}

.col.inline.verti-middle {
    vertical-align: middle
}

.col.inline.verti-top {
    vertical-align: top
}

.col.inline.verti-bottom {
    vertical-align: bottom
}

.col.table {
    display: table-cell;
    font-size: 14px
}

.col.table.verti-middle {
    vertical-align: middle
}

.col.table.verti-top {
    vertical-align: top
}

.col.table.verti-bottom {
    vertical-align: bottom
}

.col.min-50 {
    padding-left: 50px;
    padding-right: 50px
}

.col.min-45 {
    padding-left: 45px;
    padding-right: 45px
}

.col.min-40 {
    padding-left: 40px;
    padding-right: 40px
}

.col.min-35 {
    padding-left: 35px;
    padding-right: 35px
}

.col.min-30 {
    padding-left: 30px;
    padding-right: 30px
}

.col.min-25 {
    padding-left: 25px;
    padding-right: 25px
}

.col.min-20 {
    padding-left: 20px;
    padding-right: 20px
}

.col.min-10 {
    padding-left: 10px;
    padding-right: 10px
}

.col.min-5 {
    padding-left: 5px;
    padding-right: 5px
}

.col.min-0 {
    padding-left: 0;
    padding-right: 0
}

.form-group {
    margin: 0 -5px;
    position: relative
}

.form-group:after {
    content: "";
    clear: both;
    display: table
}

.form-group .form-oneline {
    position: relative;
    display: block;
    padding: 0 5px;
    margin: 0 0 10px
}

.form-group .form-oneline label {
    margin: 0 0 5px;
    display: block
}

.form-group .form-inline {
    position: relative;
    float: left;
    padding: 0 5px;
    margin: 0 0 10px
}

.form-group .form-inline .float {
    float: left
}

.form-group .form-inline label {
    margin: 0 0 5px;
    display: block
}

.form-group .radio,.form-group .checkbox {
    position: relative
}

.form-group .radio:after,.form-group .checkbox:after {
    content: '';
    clear: both;
    display: table
}

.form-group .radio label,.form-group .checkbox label {
    padding-left: 20px;
    cursor: pointer;
    line-height: 1;
    display: inline-block
}

.form-group .radio input[type=checkbox],.form-group .checkbox input[type=checkbox],.form-group .radio input[type=radio],.form-group .checkbox input[type=radio] {
    position: absolute;
    left: 0;
    width: auto
}

.form-group .radio-inline,.form-group .checkbox-inline {
    position: relative;
    float: left;
    margin: 0 10px 0 0
}

.form-group .radio-inline:after,.form-group .checkbox-inline:after {
    content: '';
    clear: both;
    display: table
}

.form-group .radio-inline label,.form-group .checkbox-inline label {
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    position: relative;
    padding: 0 0 0 18px
}

.form-group .radio-inline input[type=checkbox],.form-group .checkbox-inline input[type=checkbox],.form-group .radio-inline input[type=radio],.form-group .checkbox-inline input[type=radio] {
    position: absolute;
    left: 0;
    width: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}


.btn-custom {
    background-color: transparent;
    display: inline-block;
    text-transform: uppercase;
    padding: 12px 40px;
    letter-spacing: 1.6px;
    text-decoration: none;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    -webkit-transition: background .2s,color .2s;
    -moz-transition: background .2s,color .2s;
    transition: background .2s,color .2s
}

.btn-custom.btn-scale {
    background-color: transparent;
    position: relative;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s
}

.btn-custom.btn-scale:hover.btn-blue:before,.btn-custom.btn-scale:hover.btn-grey:before,.btn-custom.btn-scale:hover.btn-white:before,.btn-custom.btn-scale:hover.btn-bg-blue:before {
    -webkit-animation: buttonScaleOut 0.5s;
    -moz-animation: buttonScaleOut 0.5s;
    animation: buttonScaleOut 0.5s
}

.btn-custom.btn-scale:hover.btn-blue {
    background: #2B88C6;
    color: #FFF
}

.btn-custom.btn-scale:hover.btn-blue:before {
    border-color: #2B88C6
}

.btn-custom.btn-scale:hover.btn-grey {
    background: #868686;
    color: #FFF
}

.btn-custom.btn-scale:hover.btn-white {
    background: #FFF;
    color: #868686
}

.btn-custom.btn-scale:hover.btn-bg-blue {
    background: #FFF;
    color: #2b88c6;
    border: 2px solid #2b88c6
}

.btn-custom.btn-scale.btn-blue:before,.btn-custom.btn-scale.btn-grey:before,.btn-custom.btn-scale.btn-white:before,.btn-custom.btn-scale.btn-bg-blue:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-animation: buttonScaleIn 0.5s;
    -moz-animation: buttonScaleIn 0.5s;
    animation: buttonScaleIn 0.5s;
    -webkit-border-radius: 200px;
    border-radius: 200px
}

.btn-custom.btn-scale.btn-blue {
    border: none
}

.btn-custom.btn-scale.btn-blue:before {
    border: 2px solid #2b88c6
}

.btn-custom.btn-scale.btn-grey {
    border: none
}

.btn-custom.btn-scale.btn-grey:before {
    border: 2px solid #868686
}

.btn-custom.btn-scale.btn-white {
    border: none
}

.btn-custom.btn-scale.btn-white:before {
    border: 2px solid #FFF
}

.btn-custom.btn-scale.btn-bg-blue {
    border: 2px solid #FFF
}

.btn-custom.btn-scale.btn-bg-blue:before {
    border: 2px solid #FFF
}

.btn-custom.btn-blue {
    border: 1px solid #2b88c6;
    color: #2b88c6
}

.btn-custom.btn-blue:hover {
    background-color: #2B88C6;
    border-color: #FFF;
    color: #FFF
}

.btn-custom.no-border {
    border: none
}

.btn-custom.btn-bg-blue {
    background-color: #2B88C6;
    border: 1px solid transparent;
    color: #FFF
}

.btn-custom.btn-bg-blue:hover {
    background-color: #FFF;
    border-color: #2B88C6;
    color: #2B88C6
}

.btn-custom.btn-grey {
    border: 1px solid #868686;
    color: #868686
}

.btn-custom.btn-grey:hover {
    background-color: #868686;
    border-color: #FFF;
    color: #FFF
}

.btn-custom.btn-white {
    border: 2px solid #FFF;
    color: #FFF
}

.btn-custom.btn-white:hover {
    background-color: #FFF;
    border-color: transparent;
    color: #868686
}

.btn-custom.icon-plus:hover span i {
    border-color: #FFF
}

.btn-custom.icon-plus span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px
}

.btn-custom.icon-plus span i {
    border: 2px solid #868686;
    margin: 0 auto;
    display: block;
    text-align: center;
    position: relative;
    padding: 3px 0;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.btn-custom.icon-plus span i:before {
    content: attr(data-plus);
    position: absolute;
    top: 10px;
    left: 53%;
    font-size: 18px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 Material-Design-Iconic-Font;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.zmdi-alert-circle-o:before {
    content: '\f1f0'
}
/*!
*==========================ALL STYLE====================================
*/

.error .e-icon {
    font-size: 100px;
    line-height: 1;
}

.text-warning {
    color: #faa800;
}

.error h1 {
    font-size: 150px;
    line-height: 1;
    margin: 30px 0 0 0;
}

.error h2 {
    text-transform: uppercase;
}

.error .e-text {
    font-size: 15px;
    color: #777;
    margin: 0 0 45px 0;
}

.error .e-social {
    margin: 30px 0 0 0;
}

.error {
    padding: 50px 0;
    text-align: center;
}

#home-new{
    position: relative;
    height: calc(100vh - 345px);
}

.wrap-bg-text {
    position: absolute;
    top: 90%;
    left: -40px;
    font-family: "Roboto",sans-serif;
}

.wrap-bg-text .bg-text {
    color: #F5F5F5
}

.wrap-bg-text.vertical .bg-text {
    position: absolute;
    top: 10%;
    bottom: 80px;
    line-height: 1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.wrap-bg-text .bg-text h1 {
    font-size: 200px;
    font-weight: 700
}

#home-logo{
    text-align: center;
    position: relative;
    z-index: 300;
}

#home-logo:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#home-logo img{
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}

.square-green{
    width: 20px;
    height: 20px;
    background: #98c93c;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 30%;
    -webkit-animation: opacityAnimate 4S ease infinite;
       -moz-animation: opacityAnimate 4S ease infinite;
         -o-animation: opacityAnimate 4S ease infinite;
            animation: opacityAnimate 4S ease infinite;
}

.line-grey{
    width: 100px;
    height: 2px;
    background: #d0d4d2;
    position: absolute;
    z-index: 100;
    top: 25%;
    left: 10%;
    -webkit-animation: animateLeftLine 7s ease-in-out infinite;
       -moz-animation: animateLeftLine 7s ease-in-out infinite;
         -o-animation: animateLeftLine 7s ease-in-out infinite;
            animation: animateLeftLine 7s ease-in-out infinite;
}

.triangle-yellow{
    width: 0;
    height: 0;
    border-bottom: 30px solid #ffca05;
    border-left: 30px solid transparent;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 20%;
}

.circle-blue{
    width: 25px;
    height: 25px;
    border: 3px solid #2B88C6;
    position: absolute;
    z-index: 100;
    top: 30%;
    right: 30%;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-animation: opacityAnimate 2.5s linear infinite;
       -moz-animation: opacityAnimate 2.5s linear infinite;
         -o-animation: opacityAnimate 2.5s linear infinite;
            animation: opacityAnimate 2.5s linear infinite;
}

footer{
    position: fixed;
    height: 345px;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    opacity: 0.4;
    pointer-events: none;
}

footer .orbit {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -10px;
    z-index: -1
}

footer .orbit .orbit-large {
    background: url("../../images/goadmin/footer/orbit-large.png") no-repeat;
    width: 984px;
    height: 984px;
    position: absolute;
    bottom: -700px;
    left: 10px;
    z-index: -1;
    -webkit-animation: orbitLeftRight 40s linear infinite;
    -moz-animation: orbitLeftRight 40s linear infinite;
    animation: orbitLeftRight 40s linear infinite
}

footer .orbit .orbit-medium {
    background: url("../../images/goadmin/footer/orbit-medium.png") no-repeat;
    width: 784px;
    height: 784px;
    position: absolute;
    bottom: -550px;
    left: 55px;
    z-index: -1;
    -webkit-animation: orbitLeftRight 40s linear infinite;
    -moz-animation: orbitLeftRight 40s linear infinite;
    animation: orbitLeftRight 40s linear infinite
}

footer .orbit .orbit-small {
    background: url("../../images/goadmin/footer/orbit-small.png") no-repeat;
    width: 580px;
    height: 580px;
    position: absolute;
    bottom: -415px;
    left: 130px;
    z-index: -1;
    -webkit-animation: orbitLeftRight 25s linear infinite;
    -moz-animation: orbitLeftRight 25s linear infinite;
    animation: orbitLeftRight 25s linear infinite
}

footer .orbit .moon {
    background: url("../../images/goadmin/footer/moon.png") no-repeat;
    width: 233px;
    height: 233px;
    position: absolute;
    bottom: -160px;
    left: 295px
}

footer .wave {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    z-index: -2
}

footer .wave .wave-grey {
    background: url("../../images/goadmin/footer/wave-grey.png") repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 118px;
    -webkit-animation: waveLeft 15s linear infinite;
    -moz-animation: waveLeft 15s linear infinite;
    animation: waveLeft 15s linear infinite
}

footer .wave .wave-grey-2 {
    background: url("../../images/goadmin/footer/wave-grey-2.png") repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92px;
    opacity: 0.6;
    -webkit-animation: waveRight 15s linear infinite;
    -moz-animation: waveRight 15s linear infinite;
    animation: waveRight 15s linear infinite
}
/*!
*==========================ALL STYLE====================================
*/



/*!
================================================  
* KEYFRAMES
*==================================================
*/

@-webkit-keyframes orbitRightLeft {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes orbitRightLeft {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}

@keyframes orbitRightLeft {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes orbitLeftRight {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-360deg)
    }
}

@-moz-keyframes orbitLeftRight {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(-360deg)
    }
}

@keyframes orbitLeftRight {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes waveRight {
    from {
        background-position: 0 0
    }

    to {
        background-position: 1013px 0
    }
}

@-moz-keyframes waveRight {
    from {
        background-position: 0 0
    }

    to {
        background-position: 1013px 0
    }
}

@keyframes waveRight {
    from {
        background-position: 0 0
    }

    to {
        background-position: 1013px 0
    }
}

@-webkit-keyframes waveLeft {
    from {
        background-position: 0 0
    }

    to {
        background-position: -1177px 0
    }
}

@-moz-keyframes waveLeft {
    from {
        background-position: 0 0
    }

    to {
        background-position: -1177px 0
    }
}

@keyframes waveLeft {
    from {
        background-position: 0 0
    }

    to {
        background-position: -1177px 0
    }
}

@-webkit-keyframes shiningText {
    10% {
        opacity: 1;
        left: -100%;
        transition-property: left, top, opacity;
        transition-duration: 2s, 2s, 2s;
        transition-timing-function: ease
    }

    100% {
        opacity: 0;
        left: 100%;
        transition-property: left, top, opacity
    }
}

@-moz-keyframes shiningText {
    10% {
        opacity: 1;
        left: -100%;
        transition-property: left, top, opacity;
        transition-duration: 2s, 2s, 2s;
        transition-timing-function: ease
    }

    100% {
        opacity: 0;
        left: 100%;
        transition-property: left, top, opacity
    }
}

@keyframes shiningText {
    10% {
        opacity: 1;
        left: -100%;
        transition-property: left, top, opacity;
        transition-duration: 2s, 2s, 2s;
        transition-timing-function: ease
    }

    100% {
        opacity: 0;
        left: 100%;
        transition-property: left, top, opacity
    }
}

@-webkit-keyframes buttonScaleOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2)
    }
}

@-moz-keyframes buttonScaleOut {
    0% {
        opacity: 1;
        -moz-transform: scale(1)
    }

    100% {
        opacity: 0;
        -moz-transform: scale(1.2)
    }
}

@keyframes buttonScaleOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
}

@-webkit-keyframes opacityAnimate {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes opacityAnimate {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes opacityAnimate {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes animateLeftLine {
    0% {
        left: 0;
    }

    50% {
        opacity: -100%;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes animateLeftLine {
    0% {
        left: 0;
    }

    50% {
        opacity: -100%;
    }

    100% {
        opacity: 0;
    }
}

@keyframes animateLeftLine {
    0% {
        left: 0;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
    .container{
        width: 100%;
        padding: 0 15px;
    }

    #home-logo img{
        max-width: 70%;
    }
}


/*TABLET*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .container {
        width:100%;
        padding: 0 15px
    }

    .row.min-5,.row.min-10,.row.min-20,.row.min-25,.row.min-30,.row.min-35,.row.min-40,.row.min-45,.row.min-50 {
        margin-left: -15px;
        margin-right: -15px
    }

    .row.table {
        display: block;
        margin-left: 0;
        margin-right: 0
    }

    .col.table {
        display: inline-block
    }

    .col.min-5,.col.min-10,.col.min-20,.col.min-25,.col.min-30,.col.min-35,.col.min-40,.col.min-45,.col.min-50 {
        padding-left: 15px;
        padding-right: 15px
    }

    .m-1 {
        width: 8.3333333333%
    }

    .m-2 {
        width: 16.6666666667%
    }

    .m-3 {
        width: 25%
    }

    .m-4 {
        width: 33.3333333333%
    }

    .m-5 {
        width: 41.6666666667%
    }

    .m-6 {
        width: 50%
    }

    .m-7 {
        width: 58.3333333333%
    }

    .m-8 {
        width: 66.6666666667%
    }

    .m-9 {
        width: 75%
    }

    .m-10 {
        width: 83.3333333333%
    }

    .m-11 {
        width: 91.6666666667%
    }

    .m-12 {
        width: 100%
    }

    .wrap-bg-text{
        top: 90%;
    }

    .wrap-bg-text .bg-text h1{
        font-size: 180px;
    }
}

/*PHONE*/
@media only screen and (min-width: 0px) and (max-width: 479px) {
    .container {
        width:100%;
        padding: 0 15px
    }

    .s-1 {
        width: 8.3333333333%
    }

    .s-2 {
        width: 16.6666666667%
    }

    .s-3 {
        width: 25%
    }

    .s-4 {
        width: 33.3333333333%
    }

    .s-5 {
        width: 41.6666666667%
    }

    .s-6 {
        width: 50%
    }

    .s-7 {
        width: 58.3333333333%
    }

    .s-8 {
        width: 66.6666666667%
    }

    .s-9 {
        width: 75%
    }

    .s-10 {
        width: 83.3333333333%
    }

    .s-11 {
        width: 91.6666666667%
    }

    .s-12 {
        width: 100%
    }

    .row.min-5,.row.min-10,.row.min-20,.row.min-25,.row.min-30,.row.min-35,.row.min-40,.row.min-45,.row.min-50 {
        margin-left: -15px;
        margin-right: -15px
    }

    .row.table {
        display: block;
        margin-right: 0;
        margin-left: 0
    }

    .col.table {
        display: block;
        vertical-align: top
    }

    .col.min-5,.col.min-10,.col.min-20,.col.min-25,.col.min-30,.col.min-35,.col.min-40,.col.min-45,.col.min-50 {
        padding-left: 15px;
        padding-right: 15px
    }

    .wrap-bg-text{
        top: 98%;
    }

    .wrap-bg-text .bg-text h1{
        font-size: 150px;
    }

    .line-grey{
        top: 50%;
    }
}