@font-face {
  font-family: 'Arial-BoldMT';
  src: url("fonts/Arial-BoldMT.ttf");
  font-style: normal;
  font-display:swap; 
  /* Wajib ditambahin font-display:swap; */
}
* { margin:0; padding:0; outline:none }
a, a:link, a:visited{ text-decoration:none; }
body { font-family:Arial-BoldMT, sans-serif; font-size:16px; line-height: 1.8; }
img { border:none; }
div.clear { clear:both; }

#copyright-gositus { background:url(../../assets/gositus/go-online-solusi.png) no-repeat left bottom; color:#FFF; display:block; font-size:10px; height:20px; padding-left:23px; color:#333; }
#copyright-gositus:hover { background-position:left top; }
#copyright-gositus:hover label { color: #99CC33; cursor: pointer; }
#copyright-gositus:hover span { color: #3399CC; }

/* Clear */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hide from IE Mac \*/
.clearfix {
    display: block;
}
/* End hide from IE Mac */

::-moz-selection {
   background-color: #99CCFF;
   color: #FFFFFF;
}
::selection {
    background-color: #99CCFF;
    color: #FFFFFF;
}
.gohide {
    display: none;
}
label.error {
    color: #e53935;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
    font-weight: normal;
    text-align: left;
    font-size: 13px;
}
#kotakkosong { position: absolute; top: -1000px; left: -1000px }