@font-face { font-family: 'RobotoCondensed'; src: url("webfonts/fonts/RobotoCondensed-Regular.ttf"); font-style: normal; font-display: swap; }

@font-face { font-family: 'RobotoCondensed'; src: url("webfonts/fonts/RobotoCondensed-Italic.ttf"); font-style: italic; font-display: swap; }

@font-face { font-family: 'RobotoCondensed'; src: url("webfonts/fonts/RobotoCondensed-Bold.ttf"); font-style: normal; font-weight: bold; font-display: swap; }

@font-face { font-family: 'RobotoCondensed'; src: url("webfonts/fonts/RobotoCondensed-BoldItalic.ttf"); font-style: italic; font-weight: bold; font-display: swap; }

@font-face { font-family: 'RobotoCondensed'; src: url("webfonts/fonts/RobotoCondensed-Light.ttf"); font-style: normal; font-weight: lighter; font-display: swap; }

@font-face { font-family: 'RobotoCondensed'; src: url("webfonts/fonts/RobotoCondensed-LightItalic.ttf"); font-style: italic; font-weight: lighter; font-display: swap; }

.filter-white { filter: brightness(0) invert(1); }

.light-color { color: #717171; }

button:focus { outline: unset; }

body { font-family: 'RobotoCondensed'; font-style: normal; }

header { position: absolute; width: 100%; left: 0; top: 0; z-index: 100; }

header .menu-icon-toggle { display: none; }

header.navbar-dark-color .filter-white { filter: unset; }

header.navbar-dark-color .menu-navigation .flex-column .nav-item .nav-link { color: #333333; }

header .navbar { padding-top: 0px; padding-left: 0px; padding-right: 0px; }

header .navbar-brand img { width: 160px; }

header .navbar-expand-lg .navbar-nav .nav-link { color: #ffffff; font-size: 14px; }

header .menu-navigation { position: fixed; top: 50px; opacity: 1; }

header .menu-navigation .flex-column { position: absolute; padding-top: 20px; width: 250px; }

header .menu-navigation .flex-column .nav-item.active .nav-link { font-weight: bold; }

header .menu-navigation .flex-column .nav-item.active .nav-link span { opacity: 1; -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); font-weight: bold; }

header .menu-navigation .flex-column .nav-item .nav-link { color: #ffffff; text-transform: uppercase; padding-left: 0px; padding-top: .2rem; padding-bottom: .2rem; }

header .menu-navigation .flex-column .nav-item .nav-link span { opacity: 0; display: inline-flex; position: relative; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: -webkit-transform ease 0.3s 0.3s, opacity ease 0.3s 0.3s; -moz-transition: -moz-transform ease 0.3s 0.3s, opacity ease 0.3s 0.3s; transition: transform ease 0.3s 0.3s, opacity ease 0.3s 0.3s; }

header .menu-navigation .flex-column .nav-item .nav-link.active, header .menu-navigation .flex-column .nav-item .nav-link.mPS2id-highlight, header .menu-navigation .flex-column .nav-item .nav-link:hover { font-weight: bold; }

header .menu-navigation .flex-column .nav-item .nav-link.active span, header .menu-navigation .flex-column .nav-item .nav-link.mPS2id-highlight span, header .menu-navigation .flex-column .nav-item .nav-link:hover span { opacity: 1; -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); font-weight: bold; }

.bg-section { height: 100vh; background-size: cover; background-repeat: no-repeat; background-position: center center; padding-top: 50px; padding-bottom: 50px; position: relative; min-height: 550px; }

.bg-section.content-center { display: flex; justify-content: center; align-items: center; }

.bg-section.section-auto { height: auto; }

.bg-section.blue-freeze { background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/gositus/hello-alva.jpg); }

.bg-section.wolf { background-image: url(../../assets/gositus/wolf.jpg); }

.bg-section.cucumber { background-image: url(../../assets/gositus/cucumber.jpg); }

.bg-section.texture { background-image: url(../../assets/gositus/grunge-texture.jpg); }

.bg-section.white { color: #ffffff; }

.bg-section.white .short-text, .bg-section.white .main-title { color: #ffffff; }

.bg-section .short-text { color: #717171; }

.bg-section .main-title { color: #333333; }

.bg-contact { background-image: linear-gradient(to top, #2a4e97, rgba(6, 139, 180, 0)); padding-top: 75px; min-height: 100vh; }

.bg-contact .main-title { color: #144cd7; }

.bg-contact .form-box { background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)); padding: 30px 50px; }

.relative { position: relative; }

.content-center .img-center { position: absolute; height: 80%; }

#legalage .main-title { color: #144cd7; }

#legalage .modal-body { padding: 60px 95px; background-image: url(../../assets/gositus/overlay.png), url(../../assets/gositus/frosty-natural.jpg); background-size: cover; background-repeat: no-repeat; background-position: center center; }

.btn-modal { border-radius: 0px; font-weight: bold; color: #144cd7; padding: 7px 20px; font-size: 18px; background-color: transparent; border: 3px solid; border-color: transparent; }

.btn-modal:hover { border-color: #ffffff; color: #144cd7; }

.btn-modal.active { background-color: #ffffff; border-color: #ffffff; }

.btn-modal.active:hover { background-color: transparent; }

.main-title { color: #ffffff; font-weight: bold; font-size: 80px; }

.main-title.x2 { font-size: 70px; }

.main-title.x3 { font-size: 38px; }

.vodka-slider .item:focus { outline: unset; }

.vodka-slider .item .image { text-align: center; }

.vodka-slider .item .image img { height: calc(100vh - 170px); margin: auto; }

.vodka-slider .item .hello-privet { position: absolute; right: 15px; top: 0px; width: 33.3333%; }

.vodka-slider .slick-dots { position: absolute; padding-left: 0px; text-align: center; width: 80%; left: 50%; bottom: 50px; margin: auto; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); }

.vodka-slider .slick-dots li { display: inline-block; width: 20%; margin: 0px 10px; cursor: pointer; }

.vodka-slider .slick-dots li.slick-active div:not(.if_active) { display: none; }

.vodka-slider .slick-dots li.slick-active div { background-color: #85c441; }

.vodka-slider .slick-dots li.slick-active div.if_active { display: block; }

.vodka-slider .slick-dots li.slick-active span { font-weight: bold; }

.vodka-slider .slick-dots li button { display: none; }

.vodka-slider .slick-dots li div { width: 100%; height: 5px; background-color: #ffffff; }

.vodka-slider .slick-dots li div.if_active { display: none; }

.vodka-slider .slick-dots li span { display: block; margin-top: 7px; font-size: 15px; color: #ffffff; text-transform: uppercase; }

.our-vodka { min-height: 500px; }

.our-vodka .slider-navigation { position: absolute; width: 80%; left: 50%; bottom: 80px; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); }

.slider-navigation { width: 80%; position: relative; }

.slider-navigation.center-side { width: 100%; position: unset; }

.slider-navigation.nav-dark .btn i { color: #333333; }

.slider-navigation .btn-prev, .slider-navigation .btn-next { color: #ffffff; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); font-size: 26px; }

.slider-navigation .btn-prev:focus, .slider-navigation .btn-prev:active, .slider-navigation .btn-next:focus, .slider-navigation .btn-next:active { outline: unset; box-shadow: unset; }

.slider-navigation .btn-prev { left: 0; }

.slider-navigation .btn-next { right: 0; }

.gallery { padding-top: 70px; padding-bottom: 20px; background-image: linear-gradient(to top, white 65%, transparent); }

.overflow { overflow: hidden; }

.gallery-slider { margin-right: -7.5px; margin-left: -7.5px; }

.gallery-slider .item { padding-left: 7.5px; padding-right: 7.5px; }

.gallery-slider .item:focus { outline: unset; }

.gallery-slider .item .image-wrapper { position: relative; overflow: hidden; }

.gallery-slider .item .image-wrapper:before { content: ''; display: block; padding-bottom: 100%; }

.gallery-slider .item .image-wrapper img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }

.btn-mix { color: #ffffff; background-color: #144cd7; border: 2px solid #144cd7; padding: 8px 20px; font-weight: bold; }

.btn-mix:hover { background-color: transparent; color: #144cd7; }

a:hover { text-decoration: unset; }

.user-instagram { color: #333333; font-size: 28px; font-weight: bold; }

.coverflow-slider .item img { max-width: 100px; }

.flipster__item img { max-width: 300px; }

.flipster--carousel .flipster__item--past-1, .flipster--carousel .flipster__item--past-2 { opacity: 0; -webkit-transition: 0.2s ease-out; -moz-transition: 0.2s ease-out; transition: 0.2s ease-out; }

.flipster--carousel .flipster__item--current .flipster__item__content { -webkit-transform: translateX(0) rotateY(0deg) scale(0.8); -moz-transform: translateX(0) rotateY(0deg) scale(0.8); -ms-transform: translateX(0) rotateY(0deg) scale(0.8); -o-transform: translateX(0) rotateY(0deg) scale(0.8); transform: translateX(0) rotateY(0deg) scale(0.8); -webkit-transition-delay: 60ms; -moz-transition-delay: 60ms; transition-delay: 60ms; }

.flipster--carousel .flipster__item--future-1 .flipster__item__content { -webkit-transform: translate(-45%, 12px) rotateY(0deg) scale(0.8); -moz-transform: translate(-45%, 12px) rotateY(0deg) scale(0.8); -ms-transform: translate(-45%, 12px) rotateY(0deg) scale(0.8); -o-transform: translate(-45%, 12px) rotateY(0deg) scale(0.8); transform: translate(-45%, 12px) rotateY(0deg) scale(0.8); opacity: .5; }

.flipster--carousel .flipster__item--future-2 .flipster__item__content { -webkit-transform: translate(-90%, 24px) rotateY(0deg) scale(0.8); -moz-transform: translate(-90%, 24px) rotateY(0deg) scale(0.8); -ms-transform: translate(-90%, 24px) rotateY(0deg) scale(0.8); -o-transform: translate(-90%, 24px) rotateY(0deg) scale(0.8); transform: translate(-90%, 24px) rotateY(0deg) scale(0.8); opacity: .5; }

.form-box .form-control { border-radius: 0px; }

.form-box .form-control.error { border-color: red; }

.form-box .form-control:focus { outline: unset; box-shadow: unset; }

.form-box input.form-control { height: calc(1.5em + .75rem + 7px); }

.form-box label { font-weight: bold; }

.foot { position: absolute; width: 100%; left: 0; bottom: 0; padding: 20px 0px; }

.foot a { color: #ffffff; }

.foot .brand-foot img { width: 80px; }

.foot .foot-right { color: #ffffff; }

.foot .foot-right ul { list-style: none; display: block; }

.foot .foot-right ul li { display: inline-block; font-size: 24px; padding-left: 10px; }

#kotakkosong { display: none; }

#copyright-gositus { background: url(../../assets/gositus/go-online-solusi.png) no-repeat left bottom; height: 20px; padding-left: 23px; color: inherit; display: inline-block; background-size: 18px; }

#copyright-gositus:hover { background-position: left top; }

.modal-content { border: unset; }

.modal-backdrop { background: linear-gradient(180deg, rgba(255, 255, 255, 0.6), transparent); -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); }

.modal-backdrop.show { opacity: 1; }

.copyright-top { position: absolute; z-index: 2; right: 0; top: 50px; color: white; font-size: 14px; }

@media (min-width: 767.98px) { header.hide-nav .menu-navigation { opacity: 0; }
  header.hide-nav .menu-navigation .flex-column { display: none; }
  .overheight { height: calc(40vh); overflow-x: auto; padding-right: 10px; }
  .overheight::-webkit-scrollbar { width: 5px; }
  .overheight::-webkit-scrollbar-track { background: #f1f1f1; }
  .overheight::-webkit-scrollbar-thumb { background: #888; }
  .overheight::-webkit-scrollbar-thumb:hover { background: #555; } }

@media (max-width: 1200px) { .copyright-top { right: 15px; } }

@media (max-width: 992.98px) { header .navbar { padding-left: 15px; padding-right: 15px; }
  header .navbar-brand img { width: 150px; }
  .main-title { font-size: 70px; }
  .main-title.x2 { font-size: 60px; }
  .main-title.x3 { font-size: 28px; }
  #legalage .modal-body { padding: 50px 40px; } }

@media (max-width: 768.98px) { .copyright-top { display: none; }
  #legalage .modal-body { padding: 40px 20px; }
  .flipster__button { z-index: 3; }
  .bg-section, .bg-contact { padding-top: 150px; }
  .vodka-slider .item .image img { height: calc(100vh - 300px); }
  header { position: fixed; }
  header.navbar-dark-color .menu-icon-toggle span, header.navbar-dark-color .menu-icon-toggle:before, header.navbar-dark-color .menu-icon-toggle:after { background-color: #333333; }
  header .navbar { padding-top: 50px; }
  header .menu-navigation { position: unset; }
  header .menu-navigation .wrapper-menu { visibility: hidden; }
  header .menu-navigation .wrapper-menu .flex-column { visibility: hidden; }
  header .menu-navigation .wrapper-menu .flex-column .nav-item { opacity: 0; transform: translateX(20px); }
  header .menu-icon-toggle { display: block; position: relative; z-index: 9999; border: unset; height: 40px; width: 40px; background-color: unset; padding: 0px; }
  header .menu-icon-toggle span { display: block; width: 100%; height: 2px; position: absolute; top: 50%; background-color: white; -webkit-transform: translate(0, -50%); -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); transition: opacity 0.3s 0.3s; }
  header .menu-icon-toggle:before, header .menu-icon-toggle:after { content: ''; display: block; width: 100%; height: 2px; position: absolute; background-color: white; transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s; }
  header .menu-icon-toggle:before { top: 6px; }
  header .menu-icon-toggle:after { bottom: 6px; }
  header.open .menu-icon-toggle span { background-color: #333333; opacity: 0; transition: opacity 0.3s; }
  header.open .menu-icon-toggle:before { top: calc(50% - 1px); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
  header.open .menu-icon-toggle:after { bottom: calc(50% - 1px); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
  header.open .menu-icon-toggle:before, header.open .menu-icon-toggle:after { background-color: #333333; transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s; }
  header.open .menu-navigation .navbar-brand { position: relative; z-index: 999999; }
  header.open .menu-navigation .navbar-brand img { filter: unset; }
  header.open .menu-navigation .wrapper-menu { visibility: visible; background-image: url(../../assets/gositus/overlay.png), url(../../assets/gositus/frosty-natural.png); position: fixed; width: 100%; height: 100%; left: 0; top: 0; display: flex; align-items: center; justify-content: center; z-index: 9990; min-height: 550px; }
  header.open .menu-navigation .wrapper-menu .flex-column { width: 100%; padding-left: 15px; visibility: visible; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item { opacity: 1; transform: translateX(0); backface-visibility: hidden; transition: all 0.3s; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item:nth-child(1) { transition-delay: 0.6s; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item:nth-child(1) span { transition-delay: 0.6s; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item:nth-child(2) { transition-delay: 0.7s; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item:nth-child(2) span { transition-delay: 0.7s; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item:nth-child(3) { transition-delay: 0.8s; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item:nth-child(3) span { transition-delay: 0.8s; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item:nth-child(4) { transition-delay: 0.9s; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item:nth-child(4) span { transition-delay: 0.9s; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item:nth-child(5) { transition-delay: 1s; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item:nth-child(5) span { transition-delay: 1s; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item .nav-link { line-height: 60px; font-size: 28px; color: #333333; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item .nav-link span { opacity: 1; -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
  .foot { position: relative; }
  .foot .brand-foot img { width: 90px; }
  .main-title { font-size: 60px; }
  .main-title.x2 { font-size: 50px; }
  .main-title.x3 { font-size: 22px; }
  .bg-contact .form-box { padding: 30px 15px; }
  .vodka-slider .item.bg-section { height: 100%; padding-bottom: 150px; }
  .vodka-slider .item .hello-privet { position: relative; margin-top: 20px; right: 0px; width: 100%; }
  .vodka-slider .slick-dots { width: 100%; }
  .vodka-slider .slick-dots li { width: 33.33333%; }
  .vodka-slider .slick-dots li span { font-size: 13px; }
  #our-vodka .slider-navigation { width: 100%; }
  .vodka-slider .item:before { content: ''; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)); z-index: 1; }
  .vodka-slider .item .relative { z-index: 2; } }

@media (max-width: 576.98px) { header .navbar { padding-top: 30px; }
  .bg-section, .bg-contact { padding-top: 110px; } }

@media (max-width: 450.98px) { header.open .menu-navigation .wrapper-menu { align-items: flex-start; padding-top: 110px; }
  header.open .menu-navigation .wrapper-menu .flex-column .nav-item .nav-link { line-height: 45px; } }

/*# sourceMappingURL=style.css.map */