@media (min-width: 767.98px){
	header.hide-nav{
    	.menu-navigation{
    		opacity: 0;
    		.flex-column{
    			display: none;
    		}
    	}
    }
    .overheight{
        height: calc(40vh);
        overflow-x: auto;
        padding-right: 10px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
            background: #888;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}

@media (max-width: 1200px){
	.copyright-top {
	    right: 15px;
	}
}
@media (max-width: 1120.98px){
	
}