@font-face {
  font-family: 'RobotoCondensed';
  src: url('webfonts/fonts/RobotoCondensed-Regular.ttf');
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('webfonts/fonts/RobotoCondensed-Italic.ttf');
  font-style: italic;
  font-display: swap; 
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('webfonts/fonts/RobotoCondensed-Bold.ttf');
  font-style: normal;
  font-weight: bold;
  font-display: swap; 
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('webfonts/fonts/RobotoCondensed-BoldItalic.ttf');
  font-style: italic;
  font-weight: bold;
  font-display: swap; 
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('webfonts/fonts/RobotoCondensed-Light.ttf');
  font-style: normal;
  font-weight: lighter;
  font-display: swap; 
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('webfonts/fonts/RobotoCondensed-LightItalic.ttf');
  font-style: italic;
  font-weight: lighter;
  font-display: swap; 
}