@media (max-width: 768.98px){
	.copyright-top{
		display: none;
	}
	#legalage .modal-body {
	    padding: 40px 20px;
	}
	.flipster__button{
		z-index: 3;
	}
	.bg-section, .bg-contact{
		padding-top: 150px;
	}

	.vodka-slider{
		.item{
			.image{
				img {
				    height: calc(100vh - 300px);
				}
			}
		}
	}
	header{
		position: fixed;
		&.navbar-dark-color{
			.menu-icon-toggle{
				span, &:before, &:after{
					background-color: $text-dark;
				}
			}
		}
		.navbar {
			padding-top: 50px;
		}
		.menu-navigation{
			position: unset;
			.wrapper-menu{
				visibility: hidden;
				.flex-column{
				 	visibility: hidden;
					.nav-item{
						opacity: 0;
					    transform: translateX(20px);
					}
				}
			}
		}
		.menu-icon-toggle{
	    	display: block;
		    position: relative;
		    z-index: 9999;
		    border: unset;
		    height: 40px;
		    width: 40px;
		    background-color: unset;
		    padding: 0px;
		    span{
		    	display: block;
			    width: 100%;
			    height: 2px;
			    position: absolute;
			    top: 50%;
			    background-color: white;
			    @include transform(translate(0, -50%));
			    transition: opacity 0.3s 0.3s;
		    }
		    &:before, &:after{
		    	content: '';
			    display: block;
			    width: 100%;
			    height: 2px;
			    position: absolute;
			    background-color: white;
			    transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
		    }
		    &:before {
			    top: 6px;
			}
			&:after {
			    bottom: 6px;
			}
	    }
	    
		&.open{
			.menu-icon-toggle{
				span{
					background-color: $text-dark;
					opacity: 0;
      				transition: opacity 0.3s;
				}
				&:before {
			        top: calc(50% - 1px);
			        @include transform(rotate(45deg));
			    }
			    &:after {
			        bottom: calc(50% - 1px);
			        @include transform(rotate(-45deg));
			    }
			    &:before,
			    &:after {
			    	background-color: $text-dark;
			        transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s;
			    }
			}
			.menu-navigation{
				.navbar-brand{
					position: relative;
					z-index: 999999;
					img{
						filter: unset;
					}
				}
				.wrapper-menu{
					visibility: visible;
					background-image: url(../../assets/gositus/overlay.png), url(../../assets/gositus/frosty-natural.png);
				    position: fixed;
				    width: 100%;
				    height: 100%;
				    left: 0;
				    top: 0;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    z-index: 9990;
				    min-height: 550px;
				    .flex-column{
				    	width: 100%;
				    	padding-left: 15px;
	    				visibility: visible;
				    	.nav-item{
				    		opacity: 1;
						    transform: translateX(0);
						    backface-visibility: hidden;
						    transition: all 0.3s;
						    $time-offset-open: 0.5;
						    @for $i from 1 through 5 {
						        &:nth-child(#{$i}) {
						          $time-offset-open: $time-offset-open + 0.1;
						          transition-delay: #{$time-offset-open}s;
						          span {
						            transition-delay: #{$time-offset-open}s;
						          }
						        }
						    }
				    		.nav-link{
				    			line-height: 60px;
				    			font-size: 28px;
				    			color: $text-dark;
				    			span{
				    				opacity: 1;
				    				@include transform(translateX(0));
				    			}
				    		}
				    	}
				    }
				}
			}
		}
	}

	.foot{
		position: relative;
		.brand-foot img{
			width: 90px;
		}
	}
	.main-title{
		font-size: 60px;
		&.x2{
			font-size: 50px;
		}
		&.x3{
			font-size: 22px;
		}
	}
	.bg-contact{
		.form-box{
			padding: 30px 15px;
		}
	}
	.vodka-slider{
		.item{
			&.bg-section{
				height: 100%;
				padding-bottom: 150px;
			}
			.hello-privet{
				position: relative;
				margin-top: 20px;
				right: 0px;
				width: 100%;
			}
		}
		.slick-dots{
			width: 100%;
			li{
				width: 33.33333%;
				span{
					font-size: 13px;
				}
			}
		}
	}
	#our-vodka{
		.slider-navigation{
			width: 100%;
		}
	}
	.vodka-slider .item{
		&:before{
			content: '';
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
			z-index: 1;
		}
		.relative{
			z-index: 2;
		}
	}
}