@media (max-width: 576.98px){
	header .navbar {
	    padding-top: 30px;
	}
	.bg-section, .bg-contact {
	    padding-top: 110px;
	}
}
@media (max-width: 450.98px){
	header.open .menu-navigation .wrapper-menu {
	    align-items: flex-start;
	    padding-top: 110px;
	}
	header.open .menu-navigation .wrapper-menu .flex-column .nav-item .nav-link {
	    line-height: 45px;
	}
}
