@media (max-width: 992.98px){
    header{
    	.navbar{
	    	padding-left: 15px;
	    	padding-right: 15px;
	    }
	    .navbar-brand {
	    	img{
	    		width: 150px;
	    	}
	    }
    }
    .main-title{
		font-size: 70px;
		&.x2{
			font-size: 60px;
		}
		&.x3{
			font-size: 28px;
		}
	}
	#legalage .modal-body {
	    padding: 50px 40px;
	}
}