@font-face {
  font-family: 'Hind';
  src: url("webfonts/fonts/Hind/Hind-Regular.ttf");
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Hind';
  src: url("webfonts/fonts/Hind/Hind-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap; }
@font-face {
  font-family: 'Hind';
  src: url("webfonts/fonts/Hind/Hind-Bold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap; }
@font-face {
  font-family: 'Hind';
  src: url("webfonts/fonts/Hind/Hind-Light.ttf");
  font-style: normal;
  font-weight: lighter;
  font-display: swap; }
@-webkit-keyframes inputHighlighter {
  from {
    background: #f48053; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #f48053; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #f48053; }
  to {
    width: 0;
    background: transparent; } }
#kotakkosong {
  display: none; }

a:hover {
  text-decoration: none; }

:focus {
  outline: unset; }

body {
  font-family: "Hind";
  font-size: 17px;
  overflow-x: hidden; }

header.header-fill .bg-light {
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px); }
header.header-fill.sticky .bg-light {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  position: fixed;
  background-color: #ffffff !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }
header.header-fill.sticky .navbar {
  padding: 5px 0px; }
header.header-fill.sticky .navbar-light .navbar-nav .nav-item.active .nav-link, header.header-fill.sticky .navbar-light .navbar-nav .nav-item.active .nav-link:hover {
  color: #f48053; }
header.header-fill.sticky .navbar-light .navbar-nav .nav-link {
  color: #163b66; }
  header.header-fill.sticky .navbar-light .navbar-nav .nav-link.btn-unio {
    color: white; }
header.header-fill.sticky .navbar-light .navbar-nav .show.active .nav-link {
  color: #f48053; }
header.header-fill.sticky .navbar-light .navbar-nav .show .nav-link {
  color: #163b66;
  opacity: 1; }
header.header-fill.sticky .navbar-light .navbar-brand img {
  filter: unset; }
header.header-fill.sticky .dropdown-menu {
  margin-top: 20px; }
header .bg-light {
  background-color: transparent !important;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
header .navbar {
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 15px; }
header.main-header .navbar-light .navbar-nav .nav-item.active, header.main-header .navbar-light .navbar-nav .nav-item.active .nav-link:hover {
  color: #f48053; }
header.main-header .navbar-light .navbar-nav .nav-link {
  color: #163b66; }
  header.main-header .navbar-light .navbar-nav .nav-link:hover {
    color: #163b66; }
  header.main-header .navbar-light .navbar-nav .nav-link.btn-unio {
    color: white; }
header.main-header .navbar-light .navbar-nav .show.active .nav-link {
  color: #f48053; }
header.main-header .navbar-light .navbar-nav .show .nav-link {
  color: #163b66;
  opacity: 1; }
header.main-header .navbar-light .navbar-brand img {
  filter: unset; }
header.main-header .navbar-light.navbar .navbar-toggler span {
  background-color: #163b66; }
header .navbar-light .navbar-brand {
  margin-right: 100px; }
  header .navbar-light .navbar-brand img {
    width: 150px;
    filter: brightness(0) invert(1); }
header .navbar-light .navbar-nav .active .nav-link, header .navbar-light .navbar-nav .active .nav-link:hover {
  color: #f48053;
  opacity: 1;
  text-shadow: 0px 0px 1px; }
header .navbar-light .navbar-nav .show > .nav-link {
  color: white;
  opacity: 1; }
header .navbar-light .navbar-nav .nav-link {
  color: white;
  opacity: .8;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px; }
  header .navbar-light .navbar-nav .nav-link:hover, header .navbar-light .navbar-nav .nav-link:focus, header .navbar-light .navbar-nav .nav-link:active {
    color: white;
    opacity: 1;
    text-shadow: 0px 0px 1px; }
  header .navbar-light .navbar-nav .nav-link.btn-header {
    opacity: 1;
    padding: 4px 15px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 3px;
    white-space: nowrap; }

.dropdown-toggle::after {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  display: inline-block;
  margin-left: 7px;
  vertical-align: 1px;
  content: "\f078";
  border: 0px;
  font-size: 12px; }

.dropdown-toggle i {
  display: none; }

.full-banner {
  height: 100vh;
  padding-top: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }
  .full-banner .caption-banner {
    color: white; }
    .full-banner .caption-banner h1 {
      font-size: 3rem;
      font-weight: bold;
      line-height: 3.5rem;
      letter-spacing: 1.5px;
      margin-bottom: 20px; }
    .full-banner .caption-banner .description {
      line-height: 30px; }
  .full-banner .img-wrapper {
    position: absolute;
    width: 45%;
    bottom: 0;
    right: 0; }
    .full-banner .img-wrapper.w-45 {
      height: calc(100% - 120px);
      text-align: right;
      overflow: hidden; }

.btn-unio, .btn-unio-light {
  font-weight: bold;
  padding: 10px 30px;
  font-size: 18px;
  vertical-align: middle;
  position: relative;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  .btn-unio.btn-x1, .btn-unio-light.btn-x1 {
    font-size: 14px; }
    .btn-unio.btn-x1 i, .btn-unio-light.btn-x1 i {
      font-size: 12px; }
  .btn-unio.dark, .btn-unio-light.dark {
    color: #163b66; }
  .btn-unio i, .btn-unio-light i {
    font-size: 16px;
    margin-right: 10px; }
  .btn-unio span, .btn-unio i, .btn-unio-light span, .btn-unio-light i {
    position: relative;
    z-index: 1; }
  .btn-unio:before, .btn-unio:after, .btn-unio-light:before, .btn-unio-light:after {
    content: '';
    z-index: 0;
    border-radius: inherit;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  .btn-unio:before, .btn-unio-light:before {
    border: 2px solid;
    opacity: 0;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    -moz-transform: scale3d(1.05, 1.05, 1);
    -ms-transform: scale3d(1.05, 1.05, 1);
    -o-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1); }
  .btn-unio:hover:after, .btn-unio-light:hover:after {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    -ms-transform: scale3d(0.9, 0.9, 1);
    -o-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1); }
  .btn-unio:hover:before, .btn-unio-light:hover:before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .btn-unio.hov__tc:hover, .btn-unio-light.hov__tc:hover {
    background-color: #f48053;
    color: #ffffff; }
    .btn-unio.hov__tc:hover:after, .btn-unio-light.hov__tc:hover:after {
      background-color: #f48053; }
    .btn-unio.hov__tc:hover:before, .btn-unio-light.hov__tc:hover:before {
      border-color: #f48053; }

.btn-unio {
  background: unset;
  border: none;
  color: white; }
  .btn-unio:hover {
    color: #f48053 !important; }
  .btn-unio:after {
    background-color: #f48053; }
  .btn-unio:before {
    border: 2px solid #f48053; }
  .btn-unio.light:hover {
    color: #00bef5 !important; }
  .btn-unio.light:after {
    background-color: #00bef5; }
  .btn-unio.light:before {
    border-color: #00bef5; }
  .btn-unio.btn-line:after {
    background-color: transparent;
    border: 2px solid #f48053; }
  .btn-unio.btn-line:before {
    border-color: #f48053; }
  .btn-unio.btn-line.white:hover {
    color: white !important; }
  .btn-unio.btn-line.white:after {
    border: 2px solid white; }
  .btn-unio.btn-line.white:before {
    border-color: white; }
  .btn-unio.btn-line.light:before {
    border-color: #00bef5; }
  .btn-unio.btn-x1 {
    border-width: 1px; }

.btn-unio-light:after {
  background: transparent;
  border: 2px solid white; }
.btn-unio-light:before {
  border-color: white; }
.btn-unio-light.dark:after {
  background: transparent;
  border: 2px solid #163b66; }
.btn-unio-light.dark:before {
  border-color: #163b66; }

.relative {
  position: relative; }

.bg-light {
  background-color: #f8f9fc !important; }

.product-list .item-wrapper, .items-service .item-wrapper {
  background-color: white;
  border-radius: 20px;
  padding: 30px 60px;
  position: relative;
  top: -70px; }
.product-list .item, .items-service .item {
  color: #163b66;
  padding: 20px 0px;
  margin-bottom: 30px; }
  .product-list .item .icon, .items-service .item .icon {
    width: 100px;
    height: 110px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .product-list .item .icon.no-bg, .items-service .item .icon.no-bg {
      padding: 0px; }
      .product-list .item .icon.no-bg:before, .items-service .item .icon.no-bg:before {
        content: unset; }
    .product-list .item .icon.unset-overflow, .items-service .item .icon.unset-overflow {
      width: 100%;
      height: 70px;
      margin-top: 40px;
      overflow: unset; }
      .product-list .item .icon.unset-overflow span, .items-service .item .icon.unset-overflow span {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        letter-spacing: 7px;
        text-transform: uppercase;
        font-size: 14px; }
      .product-list .item .icon.unset-overflow img, .items-service .item .icon.unset-overflow img {
        width: auto;
        height: 100%; }
    .product-list .item .icon:before, .items-service .item .icon:before {
      content: '';
      position: absolute;
      background-color: rgba(0, 190, 245, 0.08);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      bottom: -30px;
      left: 0;
      border-bottom-left-radius: 0px; }
    .product-list .item .icon img, .items-service .item .icon img {
      width: 100%; }
  .product-list .item .title, .items-service .item .title {
    font-size: 20px;
    position: relative;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    .product-list .item .title:before, .items-service .item .title:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 55px;
      height: 3px;
      background-color: #bae4ed; }
  .product-list .item .description, .items-service .item .description {
    line-height: 32px;
    max-height: 120px;
    overflow: hidden; }

.goto-link {
  color: inherit;
  font-size: 14px;
  font-weight: bold; }
  .goto-link i {
    font-size: 12px;
    position: relative; }

.dropdown-item.active, .dropdown-item:active {
  background-color: #00bef5; }

.spacer {
  padding: 75px 0px; }
  .spacer.top {
    padding-top: 150px; }
  .spacer.mid {
    padding: 60px 0px; }
  .spacer.bot {
    padding-bottom: 150px; }

.mid-slider .item {
  padding: 0px 10px; }
  .mid-slider .item .img-wrapper {
    height: 380px; }

.title-section {
  font-weight: bold;
  margin-bottom: 50px; }
  .title-section .main-title {
    color: #00bef5;
    font-size: 16px;
    margin-bottom: 20px; }
  .title-section .sc-title {
    color: #163b66;
    font-size: 30px; }
    .title-section .sc-title.white {
      color: white; }

.testimonial-slider .slick-list {
  margin-right: -15px;
  margin-left: -15px;
  padding: 10px 0px; }
.testimonial-slider .item {
  padding: 0px 15px; }
.testimonial-slider .item-wrapper {
  color: #878da4;
  padding: 30px;
  margin-top: 0px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.6);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  .testimonial-slider .item-wrapper.top {
    margin-top: 0px; }
  .testimonial-slider .item-wrapper .media {
    margin-bottom: 30px; }
    .testimonial-slider .item-wrapper .media img {
      width: 65px;
      border-radius: 50%; }
    .testimonial-slider .item-wrapper .media h5 {
      font-weight: bold;
      color: #163b66; }
  .testimonial-slider .item-wrapper .description {
    font-size: 14px;
    line-height: 28px;
    height: 140px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; }
.testimonial-slider.animated .item-wrapper {
  margin-top: 50px; }
  .testimonial-slider.animated .item-wrapper.top {
    margin-top: 0px; }

.mid-content .description-content {
  background-image: linear-gradient(to top, rgba(22, 59, 102, 0.8), rgba(22, 59, 102, 0.8)), url("../../images/media/mid-slider.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 10px;
  color: white; }
  .mid-content .description-content .title-section {
    margin-bottom: 30px; }
  .mid-content .description-content p {
    line-height: 32px;
    margin-bottom: 30px; }
  .mid-content .description-content .btn {
    color: white;
    margin: 0px 10px; }

.slick-dots {
  padding-left: 0px;
  text-align: center;
  display: block;
  margin-top: 50px; }
  .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 190, 245, 0.24);
    margin: 0px 5px;
    cursor: pointer; }
    .slick-dots li.slick-active {
      background-color: #00bef5; }
    .slick-dots li button {
      display: none; }

.blogs-item .img-wrapper {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px; }
  .blogs-item .img-wrapper img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    transition: transform 0.5s ease-out; }
.blogs-item:hover .description h4 a {
  color: #f48053; }
.blogs-item:hover .img-wrapper img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }
.blogs-item .description h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  height: 60px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }
  .blogs-item .description h4 a {
    color: #163b66; }
  .blogs-item .description h4:hover {
    color: #f48053; }
.blogs-item .description .blog-section {
  color: #878da4;
  font-size: 14px;
  margin-bottom: 15px; }

.visibility-hidden {
  display: block;
  visibility: hidden; }

.contact-box .contact-left {
  background-color: white;
  padding: 60px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-right: 40px; }
.contact-box .contact-right {
  background-color: #163b66;
  padding: 60px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 40px;
  color: white; }
  .contact-box .contact-right .sc-title {
    color: white; }
.contact-box .sc-title {
  font-size: 26px; }

form.form-float .form-group {
  position: relative;
  margin-bottom: 25px; }
  form.form-float .form-group input, form.form-float .form-group textarea {
    display: block;
    border: none;
    border-bottom: 1px solid #979797;
    border-radius: 0px;
    height: 50px;
    padding-left: 0px;
    padding-top: 15px;
    color: #163b66;
    font-weight: bold; }
    form.form-float .form-group input:focus, form.form-float .form-group textarea:focus {
      outline: none;
      box-shadow: none; }
    form.form-float .form-group input.error, form.form-float .form-group textarea.error {
      border-bottom: 1px solid #f48053; }
  form.form-float .form-group textarea {
    padding-top: 15px;
    height: auto;
    line-height: 1.5;
    box-sizing: border-box;
    font-smooth: subpixel-antialiased; }
    form.form-float .form-group textarea::placeholder {
      color: rgba(210, 210, 210, 0.5);
      opacity: 1; }
    form.form-float .form-group textarea:-ms-input-placeholder {
      color: rgba(210, 210, 210, 0.5); }
    form.form-float .form-group textarea::-ms-input-placeholder {
      color: rgba(210, 210, 210, 0.5); }
  form.form-float .form-group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  form.form-float .form-group input:focus ~ .highlight, form.form-float .form-group textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease; }
  form.form-float .form-group .bar {
    position: relative;
    display: block;
    width: 100%; }
    form.form-float .form-group .bar:before, form.form-float .form-group .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: #00bef5;
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      transition: 0.2s ease all; }
    form.form-float .form-group .bar:before {
      left: 50%; }
    form.form-float .form-group .bar:after {
      right: 50%; }
  form.form-float .form-group input:focus ~ .bar:before, form.form-float .form-group input:focus ~ .bar:after, form.form-float .form-group textarea:focus ~ .bar:before, form.form-float .form-group textarea:focus ~ .bar:after {
    width: 50%; }
  form.form-float .form-group.label-fix {
    width: calc(100% - 80px);
    display: inline-block; }
    form.form-float .form-group.label-fix .fly {
      top: -5px; }
  form.form-float .form-group .fly {
    color: #878da4;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all; }
  form.form-float .form-group input:focus ~ .fly, form.form-float .form-group input:valid ~ .fly, form.form-float .form-group input:not(:empty) ~ .fly, form.form-float .form-group textarea:focus ~ .fly, form.form-float .form-group textarea:valid ~ .fly, form.form-float .form-group input.error ~ .fly {
    top: -15px;
    font-size: 14px;
    color: #00bef5; }

.contact-info ul {
  padding-left: 0px;
  list-style: none; }
  .contact-info ul li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px; }
    .contact-info ul li i {
      font-size: 14px;
      position: absolute;
      left: 0;
      top: 5px; }
    .contact-info ul li a {
      color: white; }

a.l_hov span {
  position: relative; }
  a.l_hov span:before {
    content: '';
    position: absolute;
    width: 0%;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: white;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out; }
a.l_hov:hover span:before {
  width: 100%;
  right: unset;
  left: 0; }

.circle_hov {
  position: relative; }
  .circle_hov i {
    position: relative; }
    .circle_hov i:before {
      position: relative;
      z-index: 2; }
  .circle_hov i::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 0px;
    height: 0px;
    background-color: #00bef5;
    border-radius: 50%;
    opacity: .8;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .circle_hov:hover i::after {
    width: 30px;
    height: 30px; }

.main-color {
  color: #163b66 !important; }

.btn-round-submit {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #163b66;
  padding: 0px;
  position: absolute;
  right: 15px;
  bottom: 5px;
  box-shadow: 2px 4px 11px #00bef5; }
  .btn-round-submit .icon {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .btn-round-submit:hover .icon {
    -webkit-transform: translate(15px, -15px);
    -moz-transform: translate(15px, -15px);
    -ms-transform: translate(15px, -15px);
    -o-transform: translate(15px, -15px);
    transform: translate(15px, -15px); }

.bg-color-dark {
  background-color: #163b66; }

.bg-color-orange {
  background-color: #f48053; }

.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat; }
  .icon.w-70 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: 50%; }
  .icon.paper-plane {
    background-image: url(../../assets/icon/send.png); }
  .icon.icon-click {
    background-image: url(../../assets/icon/click.png); }
  .icon.icon-consult {
    background-image: url(../../assets/icon/consult.png); }
  .icon.icon-archive {
    background-image: url(../../assets/icon/archive.png); }
  .icon.icon-consulting {
    background-image: url(../../assets/icon/consulting.png); }
  .icon.icon-checklist {
    background-image: url(../../assets/icon/checklist.png); }
  .icon.icon-shield {
    background-image: url(../../assets/icon/shield.png); }

.featured-slide {
  margin-left: -20px;
  margin-right: -20px; }
  .featured-slide .item {
    padding: 0px 20px; }
    .featured-slide .item .img-wrapper {
      cursor: pointer; }
      .featured-slide .item .img-wrapper img {
        filter: grayscale(100%);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .featured-slide .item .img-wrapper:hover img {
        filter: grayscale(0%); }

#map {
  min-height: 750px; }
  #map.map_resize {
    min-height: 450px; }

.section-pos {
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  .section-pos.animated {
    margin-bottom: -250px; }

.box-shadow {
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.6); }

.header-space {
  padding-top: 170px;
  padding-bottom: 60px; }

.title-page-header {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .title-page-header .overlay {
    background-color: rgba(22, 59, 102, 0.8); }

.header-title {
  color: white; }
  .header-title h1 {
    font-size: 46px;
    line-height: 60px;
    font-weight: bold; }
  .header-title span {
    font-size: 17px;
    line-height: 33px; }

.items-service .item {
  height: 100%;
  position: relative;
  padding: 30px 30px;
  background: white;
  border-radius: 15px; }
  .items-service .item.pt .item-head {
    border-bottom: 2px solid #00bef5; }
    .items-service .item.pt .item-head .price-list span {
      color: #00bef5; }
  .items-service .item.cv .item-head {
    border-bottom: 2px solid #f48053; }
    .items-service .item.cv .item-head .price-list span {
      color: #f48053; }
.items-service .item-head {
  text-align: center;
  padding: 20px 15px; }
  .items-service .item-head h4 {
    font-weight: bold; }
  .items-service .item-head .icon {
    margin: auto;
    margin-bottom: 15px; }
  .items-service .item-head .price-list {
    width: fit-content;
    margin: auto; }
    .items-service .item-head .price-list small {
      display: block;
      text-align: left;
      font-style: italic;
      font-weight: 600; }
    .items-service .item-head .price-list span {
      font-weight: bold;
      font-size: 26px; }
.items-service .item-body {
  padding-bottom: 20px; }
  .items-service .item-body ul {
    padding-left: 0px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 70px; }
    .items-service .item-body ul li {
      padding-left: 25px;
      position: relative;
      margin-bottom: 10px; }
      .items-service .item-body ul li:before {
        font-family: 'Font Awesome 5 Pro';
        font-weight: 300;
        content: "\f00c";
        position: absolute;
        left: 0;
        top: 4px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #163b66;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px; }
  .items-service .item-body .button-bottom {
    position: absolute;
    width: 100%;
    bottom: 50px;
    left: 0px;
    padding: 0px 30px; }

.service-bidding .promo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 50px;
  color: white;
  border-radius: 20px;
  position: relative;
  top: 0px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  .service-bidding .promo.animated {
    top: -60px; }
  .service-bidding .promo h4 {
    margin-bottom: 8px;
    font-weight: bold; }

.title-description {
  color: #163b66; }
  .title-description h1, .title-description h2, .title-description h3, .title-description h4 {
    font-weight: bold;
    font-size: 30px;
    line-height: 1.5; }

.service-benefits {
  background-image: url(../../assets/meeting.png), url(../../assets/icon/crop-graphic.png);
  background-size: 30%, 25%;
  background-position: right -100% top, right -100% bottom;
  background-repeat: no-repeat;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  .service-benefits.animated {
    background-position: right 0% top, right 0% bottom; }

.about-section {
  background-image: url(../../assets/icon/logogram.png);
  background-size: contain;
  background-position: right -100% bottom;
  background-repeat: no-repeat;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  .about-section.animated {
    background-position: right 0% bottom; }

.office-benefits {
  background-image: linear-gradient(to right, white 15%, rgba(255, 255, 255, 0.95) 80%, rgba(255, 255, 255, 0.8)), url(../../assets/office-real.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .office-benefits .img-side-decoration {
    position: absolute;
    width: 35%;
    right: 0;
    bottom: 0; }

.service-benefits .item, .office-benefits .item, .about-section .item {
  color: #163b66; }
  .service-benefits .item h4, .office-benefits .item h4, .about-section .item h4 {
    font-size: 18px;
    font-weight: bold; }

.blog-list .nav-tabs .nav-link {
  border: unset;
  color: #163b66;
  font-size: 20px;
  padding: 10px 15px;
  position: relative; }
  .blog-list .nav-tabs .nav-link:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #00bef5;
    left: 0;
    bottom: -1px;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out; }
  .blog-list .nav-tabs .nav-link.active, .blog-list .nav-tabs .nav-link:hover {
    text-shadow: 0px 0px 1px #163b66; }
    .blog-list .nav-tabs .nav-link.active:before, .blog-list .nav-tabs .nav-link:hover:before {
      width: 100%; }
.blog-list .blogs-item {
  padding: 30px 0;
  border-bottom: 1px solid #bae4ed; }
  .blog-list .blogs-item .img-wrapper {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0px; }
  .blog-list .blogs-item .blogs-section {
    color: #f48053;
    font-size: 14px; }
  .blog-list .blogs-item a:hover h4 {
    color: #f48053; }
  .blog-list .blogs-item h4 {
    font-size: 20px;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .blog-list .blogs-item .date {
    font-size: 14px;
    color: #878da4;
    display: block;
    margin-bottom: 20px; }
  .blog-list .blogs-item .short-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 20px; }

.link-with-fa {
  color: #163b66;
  text-transform: uppercase;
  font-size: 14px; }
  .link-with-fa i {
    font-size: 12px;
    padding-left: 5px; }

.sm-title {
  font-size: 16px;
  font-weight: 600;
  color: #163b66;
  margin-bottom: 15px; }

#instafeed {
  margin-top: 50px; }
  #instafeed .media .img-wrapper {
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
    border: 2px solid #c5c5c5;
    background-color: white; }
    #instafeed .media .img-wrapper img {
      width: 100%; }
  #instafeed .media .media-body {
    color: #4e4e4e;
    font-size: 14px; }
    #instafeed .media .media-body h5 {
      color: #000000;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0px; }
  #instafeed .feed ul {
    list-style: none;
    padding-left: 0px;
    margin: 20px -10px; }
    #instafeed .feed ul li {
      float: left;
      padding: 10px;
      width: 50%; }

.social-media ul {
  list-style: none;
  padding-left: 0px;
  margin: 20px -10px; }
  .social-media ul li {
    float: left;
    padding: 10px;
    width: 33.33333%;
    text-align: center;
    color: #163b66; }
    .social-media ul li a {
      color: #163b66; }
      .social-media ul li a.fb:hover {
        color: #3b5998; }
      .social-media ul li a.yt:hover {
        color: #ff0000; }
      .social-media ul li a.ig:hover {
        color: #c13584; }
      .social-media ul li a.li:hover {
        color: #00a0dc; }
      .social-media ul li a.tw:hover {
        color: #1da1f2; }
      .social-media ul li a.pi:hover {
        color: #e60023; }
    .social-media ul li span {
      display: block;
      font-size: 12px; }

#instafeed .wrapper-box, .social-media .wrapper-box {
  background-color: #f8f9fc;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 50px; }

.special-deals .wrapper-box {
  color: #ffffff;
  background-image: linear-gradient(to top, rgba(22, 59, 102, 0.8), rgba(22, 59, 102, 0.8)), url("../../images/media/mid-slider.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  overflow: hidden; }
  .special-deals .wrapper-box h4 {
    font-weight: bold;
    font-size: 18px; }

.pagination li {
  margin: 0px 2px; }
  .pagination li .page-link {
    border-color: transparent;
    color: #c5c5c5; }
    .pagination li .page-link:hover {
      background-color: transparent;
      color: #000000; }
  .pagination li:first-child .page-link, .pagination li:last-child .page-link {
    border-color: #c5c5c5;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px; }

.serviced_list {
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat; }
  .serviced_list .serviced_description ul {
    column-count: 2;
    margin-right: -15px;
    padding-left: 0px;
    list-style: none; }
    .serviced_list .serviced_description ul li {
      position: relative;
      padding-right: 15px;
      color: #163b66;
      margin-bottom: 10px;
      padding-left: 25px; }
      .serviced_list .serviced_description ul li:before {
        font-family: 'Font Awesome 5 Pro';
        font-weight: 300;
        content: '\f00c';
        position: absolute;
        left: 0px;
        top: 3px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #00bef5;
        color: #00bef5;
        font-size: 9px;
        display: flex;
        align-items: center;
        justify-content: center; }

#room-tabs.nav-tabs {
  border-bottom: 0px; }
  #room-tabs.nav-tabs .nav-link {
    border-radius: 4px;
    color: #163b66;
    font-weight: bold;
    background-color: #ffffff;
    border: 0px; }
    #room-tabs.nav-tabs .nav-link.active, #room-tabs.nav-tabs .nav-link:hover {
      border: 0px;
      color: #ffffff;
      background-color: #163b66; }
  #room-tabs.nav-tabs li {
    margin: 0px 10px; }
    #room-tabs.nav-tabs li:first-child {
      margin-left: 0px; }
    #room-tabs.nav-tabs li:last-child {
      margin-right: 0px; }

#room-tabsContent .room-slider {
  position: relative;
  top: -150px;
  padding: 0px 130px; }
  #room-tabsContent .room-slider .item .img-wrapper {
    border-radius: 6px;
    overflow: hidden; }
#room-tabsContent .slide-direction {
  top: calc(50% - 150px); }
#room-tabsContent .wrapper-room {
  margin-top: 180px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.6);
  background-color: #ffffff; }
  #room-tabsContent .wrapper-room .room-description {
    margin-top: -150px;
    color: #163b66; }
    #room-tabsContent .wrapper-room .room-description h2.title {
      font-weight: bold;
      font-size: 32px;
      color: #163b66; }

.wrapper_class:hover .visible_hover {
  opacity: 1; }

.slide-direction {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; }
  .slide-direction .btn-prev, .slide-direction .btn-next {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #163b66;
    font-size: 16px;
    color: #163b66;
    position: absolute;
    background-color: #ffffff; }
    .slide-direction .btn-prev:hover, .slide-direction .btn-next:hover {
      background-color: #163b66;
      color: #ffffff; }
  .slide-direction .btn-prev {
    left: 0; }
  .slide-direction .btn-next {
    right: 0; }
  .slide-direction.offside .btn-prev {
    left: -25px; }
  .slide-direction.offside .btn-next {
    right: -25px; }
  .slide-direction.inner-button .btn-prev, .slide-direction.inner-button .btn-next {
    background-color: rgba(255, 255, 255, 0.6); }
    .slide-direction.inner-button .btn-prev:hover, .slide-direction.inner-button .btn-next:hover {
      background-color: #163b66;
      color: #ffffff; }
  .slide-direction.inner-button .btn-prev {
    left: 15px; }
  .slide-direction.inner-button .btn-next {
    right: 15px; }
  .slide-direction.visible_hover {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }

.legality .legal-list {
  background-color: rgba(66, 115, 167, 0.05);
  padding: 15px 60px;
  border-radius: 6px;
  color: #163b66; }
  .legality .legal-list:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px rgba(197, 197, 197, 0.6); }

.title-page-banner {
  overflow: hidden;
  position: relative;
  height: auto;
  padding-top: 0; }
  .title-page-banner .caption-banner {
    position: absolute;
    top: 0px;
    width: 50%;
    color: #163b66;
    padding-top: 50px;
    padding-left: 30px; }
  .title-page-banner img {
    border-radius: 10px; }

footer {
  color: #163b66; }
  footer #copyright {
    font-size: 12px; }
  footer #copyright-gositus {
    background: url(../../assets/logo/go-online-solusi.png) no-repeat left bottom;
    background-size: 18px;
    display: inline-block;
    height: 20px;
    padding-left: 23px;
    color: #163b66;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    footer #copyright-gositus:hover {
      background-position: left top;
      color: #f48053; }
  footer .nav .nav-item {
    position: relative; }
    footer .nav .nav-item:after {
      content: '/';
      position: absolute;
      right: -4px;
      top: 4px; }
    footer .nav .nav-item:last-child:after {
      content: unset; }
  footer .nav .nav-link {
    color: #163b66;
    font-size: 16px;
    padding: 5px 20px; }
    footer .nav .nav-link:hover, footer .nav .nav-link.active {
      color: #00bef5; }

.navbar-toggler {
  padding: 0rem;
  font-size: 1.25rem;
  border: unset;
  border-radius: unset; }
  .navbar-toggler span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 4px;
    position: relative;
    left: 0px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .navbar-toggler span:nth-child(2) {
      margin: 6px 0px;
      left: -5px; }
  .navbar-toggler.collapsed span {
    left: -5px; }
    .navbar-toggler.collapsed span:nth-child(2) {
      margin: 6px 0px;
      left: 0; }
  .navbar-toggler:hover, .navbar-toggler:focus {
    outline: none; }

.link-with-fa {
  position: relative;
  z-index: 2; }
  .link-with-fa:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    background-color: #163b66;
    border-radius: 10px;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .link-with-fa:hover {
    padding: 0px 10px;
    color: #ffffff; }
    .link-with-fa:hover:before {
      opacity: .8;
      width: 100%;
      height: 100%; }

header.header-fill.sticky .navbar .navbar-toggler span {
  background-color: #163b66; }

.errorplace label {
  font-size: 12px;
  color: red; }

#content-wrapper {
  padding-top: 130px; }

.color_light {
  color: #878da4; }

.main_image_blogs .img-wrapper {
  border-radius: 20px;
  overflow: hidden; }
.main_image_blogs .blogs_description {
  background-color: white; }
.main_image_blogs .blogs_content_wrapper {
  padding: 50px 70px;
  position: relative; }
  .main_image_blogs .blogs_content_wrapper:before {
    content: '';
    position: absolute;
    width: 70%;
    height: 5px;
    bottom: 0;
    border-bottom: 2px solid #bae4ed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .main_image_blogs .blogs_content_wrapper h1 {
    font-weight: bold;
    color: #163b66;
    text-align: center;
    font-size: 32px; }
  .main_image_blogs .blogs_content_wrapper .blogs_section {
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px; }
    .main_image_blogs .blogs_content_wrapper .blogs_section span {
      color: #878da4; }
      .main_image_blogs .blogs_content_wrapper .blogs_section span.orange {
        color: #f48053; }
  .main_image_blogs .blogs_content_wrapper .description {
    color: #163b66;
    font-size: 17px;
    line-height: 1.5; }
    .main_image_blogs .blogs_content_wrapper .description p {
      padding: 0 20px;
      line-height: 2; }

.img-radius {
  overflow: hidden;
  border-radius: 10px; }

.title-white-bold {
  font-weight: bold;
  color: #ffffff;
  font-size: 48px;
  line-height: 60px; }

#contact_page .form_contact {
  background-image: linear-gradient(to top, rgba(22, 59, 102, 0.8), rgba(22, 59, 102, 0.8)), url("../../assets/map.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 130px; }
#contact_page .contact-box .contact-left {
  border-radius: 10px;
  margin-bottom: -140px;
  padding: 60px; }
#contact_page .find_us_contact {
  background: #163b66;
  background-image: url(../../assets/icon/crop-graphic-op.png);
  background-position: right;
  color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  color: #ffffff; }
  #contact_page .find_us_contact .small-title {
    font-size: 16px;
    opacity: .7; }
  #contact_page .find_us_contact address {
    max-width: 300px;
    margin-bottom: 30px; }
#contact_page .nav-flex {
  position: relative; }
  #contact_page .nav-flex a {
    color: #ffffff; }
  #contact_page .nav-flex nav {
    position: relative;
    background: #163b66;
    z-index: 2; }
    #contact_page .nav-flex nav i {
      margin-right: 15px; }
  #contact_page .nav-flex .line-hr:before {
    content: '';
    position: absolute;
    height: 2px;
    background: white;
    width: calc(100% - 150px);
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .5; }

.nav-flex {
  display: flex; }

@media (min-width: 992.98px) {
  .dropdown-toggle i {
    font-size: 12px;
    position: relative;
    top: -1px;
    margin-left: 7px;
    display: inline-block; }

  header.header-fill.sticky .dropdown-large.show .dropdown-toggle::after {
    z-index: 5555; }
  header.header-fill.sticky .dropdown-menu.dropdown-menu-large {
    margin-top: 14px; }
    header.header-fill.sticky .dropdown-menu.dropdown-menu-large .dropdown-menu-wrapper {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }

  .dropdown-large {
    position: static !important; }
    .dropdown-large .dropdown-toggle:before, .dropdown-large .dropdown-toggle:after {
      content: '';
      position: absolute;
      margin: 0px;
      width: 15px;
      height: 15px;
      background-color: white;
      left: calc(50% - 9px);
      bottom: -37px;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateX(-50%) translateY(40px) rotate(45deg);
      -moz-transform: translateX(-50%) translateY(40px) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(40px) rotate(45deg);
      -o-transform: translateX(-50%) translateY(40px) rotate(45deg);
      transform: translateX(-50%) translateY(40px) rotate(45deg);
      -webkit-transition: -webkit-transform ease 0.1s 0.5s, opacity ease 0.1s 0.5s;
      -moz-transition: -moz-transform ease 0.1s 0.5s, opacity ease 0.1s 0.5s;
      transition: transform ease 0.1s 0.5s, opacity ease 0.1s 0.5s; }
    .dropdown-large.show .dropdown-toggle:before {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }
    .dropdown-large.show .dropdown-toggle:before, .dropdown-large.show .dropdown-toggle:after {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateX(-50%) translateY(0px) rotate(45deg);
      -moz-transform: translateX(-50%) translateY(0px) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(0px) rotate(45deg);
      -o-transform: translateX(-50%) translateY(0px) rotate(45deg);
      transform: translateX(-50%) translateY(0px) rotate(45deg); }
    .dropdown-large .dropdown-menu-large {
      margin-top: 0px;
      width: 100%;
      left: 0;
      opacity: 0;
      display: block;
      overflow: hidden;
      height: 0;
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -o-transform: translateY(40px);
      transform: translateY(40px);
      -webkit-transition: -webkit-transform ease 0.4s 0.2s, opacity ease 0.4s 0.2s;
      -moz-transition: -moz-transform ease 0.4s 0.2s, opacity ease 0.4s 0.2s;
      transition: transform ease 0.4s 0.2s, opacity ease 0.4s 0.2s; }
      .dropdown-large .dropdown-menu-large.show {
        overflow: unset;
        height: auto;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); }
      .dropdown-large .dropdown-menu-large .dropdown-menu-wrapper {
        width: 70%;
        background-color: #ffffff;
        padding: 20px 15px;
        border-radius: 6px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
        .dropdown-large .dropdown-menu-large .dropdown-menu-wrapper .service_menu {
          color: #163b66;
          padding: 15px;
          border-radius: 6px; }
          .dropdown-large .dropdown-menu-large .dropdown-menu-wrapper .service_menu .service_title {
            font-weight: bold;
            margin-bottom: 5px; }
          .dropdown-large .dropdown-menu-large .dropdown-menu-wrapper .service_menu .short_desc_service {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden; }
          .dropdown-large .dropdown-menu-large .dropdown-menu-wrapper .service_menu:hover, .dropdown-large .dropdown-menu-large .dropdown-menu-wrapper .service_menu.active {
            background-color: rgba(0, 190, 245, 0.1); }
    .dropdown-large .dropdown-menu {
      background-color: transparent;
      padding: 0;
      border: unset; }

  .overlay-menu-dropdown.show {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(23, 23, 23, 0.5);
    z-index: 10; } }
@media (max-width: 1120.98px) {
  header .navbar-light .navbar-brand {
    margin-right: 20px; }

  .full-banner .img-wrapper {
    width: 40%; } }
@media (max-width: 992.98px) {
  .visible-lg {
    display: none; }

  .items-service .item {
    padding: 25px 30px;
    margin-bottom: 30px; }
  .items-service .items-service .item-body ul {
    min-height: 375px; }

  .full-banner .img-wrapper {
    width: 50%;
    opacity: .6; }
  .full-banner .caption-banner {
    position: relative;
    z-index: 1; }

  .mid-content .description-content {
    padding-left: 15px;
    padding-right: 15px; }

  .contact-box .contact-left, .contact-box .contact-right {
    padding: 30px; }

  .service-bidding .promo {
    padding: 30px 30px; }

  header .navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    position: relative;
    z-index: 100; }

  .navbar-collapse {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(22, 59, 102, 0.8);
    padding-top: 120px;
    z-index: 5; }
    .navbar-collapse .navbar-nav {
      width: 100%;
      max-width: 720px;
      margin: auto;
      overflow-y: auto;
      height: calc(100% - 150px); }
      .navbar-collapse .navbar-nav .dropdown-menu {
        border-radius: 0px; }
      .navbar-collapse .navbar-nav li {
        position: relative;
        margin-bottom: 10px; }
        .navbar-collapse .navbar-nav li:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 2px;
          background-color: #ffffff; }
        .navbar-collapse .navbar-nav li:last-child {
          position: absolute;
          bottom: 20px;
          width: 100%;
          left: 0;
          padding: 0px 15px; }
          .navbar-collapse .navbar-nav li:last-child:before {
            content: unset; }

  header .navbar-light .navbar-nav .nav-link {
    opacity: 1;
    font-size: 20px; }
    header .navbar-light .navbar-nav .nav-link.btn-header {
      margin-left: 0px;
      padding: 8px 15px;
      font-size: 20px; }
    header .navbar-light .navbar-nav .nav-link.dropdown-toggle::after {
      font-size: 16px;
      position: absolute;
      right: 15px; }

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white; }

  header.header-fill.sticky.menu_open .navbar-light .navbar-brand img {
    filter: brightness(0) invert(1); }
  header.header-fill.sticky.menu_open .navbar-toggler span {
    background-color: #ffffff; }
  header.header-fill.sticky.menu_open .navbar-light .navbar-nav .nav-link {
    color: white; }
    header.header-fill.sticky.menu_open .navbar-light .navbar-nav .nav-link:hover {
      color: white; }

  body.menu_open {
    overflow: hidden; }

  .main_image_blogs .blogs_content_wrapper {
    padding: 40px;
    position: relative; }

  #contact_page .contact-box .contact-left {
    padding: 30px; }
  #contact_page .find_us_contact address {
    max-width: 220px; }
  #contact_page .nav-flex nav i {
    margin-right: 5px; }

  .title-white-bold {
    font-size: 42px; }

  .legality .legal-list {
    padding: 15px 20px; }
    .legality .legal-list .btn {
      padding: 10px 15px;
      font-size: 14px; }
      .legality .legal-list .btn i {
        font-size: 12px;
        margin-right: 7px; }

  #room-tabs.nav-tabs li {
    margin-bottom: 15px; }

  #room-tabsContent .room-slider {
    padding: 0px 50px; }

  .title-page-banner .caption-banner {
    width: 100%;
    color: #163b66;
    padding-top: 50px;
    padding-left: 0px; } }
@media (max-width: 768.98px) {
  .full-banner .img-wrapper {
    width: 85%;
    opacity: .6; }
  .full-banner .caption-banner {
    position: relative;
    z-index: 1; }
    .full-banner .caption-banner h1 {
      font-size: 48px;
      line-height: 54px; }

  .product-list .item-wrapper, .items-service .item-wrapper {
    padding: 30px 30px; }

  .mid-slider .item {
    padding: 0px; }
    .mid-slider .item .h-100 {
      height: auto !important;
      width: 100%; }

  .title-section .sc-title {
    font-size: 28px; }

  .mid-content .description-content p, .product-list .item .description, .items-service .item .description {
    line-height: 26px; }

  .btn-unio, .btn-unio-light {
    padding: 10px 20px;
    font-size: 16px; }

  .blogs-item {
    margin-bottom: 20px; }

  .contact-box .contact-left {
    border-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 40px 30px; }

  .title-section .main-title {
    margin-bottom: 15px; }
    .title-section .main-title.visibility-hidden {
      display: none;
      visibility: hidden; }

  .contact-box .contact-right {
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    padding: 40px 30px; }

  .testimonial-slider .item-wrapper {
    padding: 20px 15px; }

  .items-service .item {
    margin-bottom: 30px; }

  .service-benefits {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../../assets/meeting.png), url(../../assets/icon/crop-graphic.png);
    background-size: 100%, 60%, 60%;
    background-position: center, right -100% top, right -100% bottom; }
    .service-benefits.animated {
      background-position: center, right 0% top, right 0% bottom; }

  .mid-slider .item .img-wrapper {
    height: auto; }

  .navbar-collapse .navbar-nav {
    max-width: 540px; }

  .main_image_blogs .blogs_content_wrapper {
    padding: 40px 0px; }

  #contact_page .contact-box .contact-left {
    margin-bottom: 0px; }
  #contact_page .form_contact {
    padding-bottom: 50px; }
  #contact_page .nav-flex {
    display: block; }
    #contact_page .nav-flex nav {
      background: transparent;
      z-index: 2; }
    #contact_page .nav-flex .line-hr {
      margin-top: 10px;
      padding-top: 10px; }
      #contact_page .nav-flex .line-hr:before {
        width: 100%; }
      #contact_page .nav-flex .line-hr li:nth-child(1) a {
        padding-left: 0px; }

  .legality .legal-list {
    padding: 30px 20px; }

  #room-tabsContent .room-slider {
    padding: 0px 0px; }
    #room-tabsContent .room-slider .item .img-wrapper {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; }
  #room-tabsContent .wrapper-room .room-description {
    padding-left: 15px;
    padding-right: 15px; }

  .featured-slide {
    margin-left: 0px;
    margin-right: 0px; }

  .product-list .item .title, .items-service .item .title {
    height: 70px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: flex;
    align-items: center; } }
@media (max-width: 576.98px) {
  header .navbar {
    padding-right: 15px;
    padding-left: 15px; }

  header.header-fill.sticky .navbar {
    padding: 5px 15px; }

  .product-list .item-wrapper, .items-service .item-wrapper {
    padding: 30px 15px; }

  .contact-box .contact-left, .contact-box .contact-right {
    padding: 40px 15px; }

  .items-service .item {
    padding: 25px 15px; }

  .service-bidding .promo {
    padding: 30px 15px; }

  .main_image_blogs .blogs_content_wrapper .description p {
    padding: 0px; }

  .items-service .item-body .button-bottom {
    padding: 0px 15px; }

  .contact-box .contact-left {
    border-radius: 0px;
    border-top-right-radius: 0px; }

  .contact-box .contact-right {
    border-radius: 0px;
    border-bottom-left-radius: 0px; }

  #contact_page .contact-box .contact-left {
    padding: 30px 15px; }

  #contact_page .find_us_contact address {
    max-width: 100%; }
  #contact_page nav a {
    padding-left: 0px;
    padding-right: 30px; }
  #contact_page .nav-flex .line-hr {
    position: relative; }
    #contact_page .nav-flex .line-hr:before {
      top: 0;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }

  .slide-direction.offside .btn-prev {
    left: 15px; }
  .slide-direction.offside .btn-next {
    right: 15px; }

  .btn.mx-1 {
    margin-bottom: 15px; }

  .serviced_list .serviced_description ul {
    column-count: 1; } }
