@import "bourbon/bourbon";
@import "fontstyle.scss";

$blue-light : #144cd7;
$text-dark  : #333333;
$light-color: #717171;

.filter-white{
	filter: brightness(0) invert(1);
}

.light-color{
	color: $light-color;
}

button:focus{
	outline: unset;
}

body{
	font-family: 'RobotoCondensed';
	font-style: normal;
}

header{
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    .menu-icon-toggle{
    	display: none;
    }
    &.navbar-dark-color{
    	.filter-white{
    		filter: unset;
    	}
    	.menu-navigation .flex-column .nav-item .nav-link{
    		color: $text-dark;
    	}
    }
    
    .navbar{
    	padding-top: 0px;
    	padding-left: 0px;
    	padding-right: 0px;
    }
    .navbar-brand {
    	img{
    		width: 160px;
    	}
    }
    .navbar-expand-lg .navbar-nav .nav-link{
    	color: #ffffff;
    	font-size: 14px;
    }
    .menu-navigation{
    	position: fixed;
    	top: 50px;
    	opacity: 1;
    	.flex-column{
    		position: absolute;
    		padding-top: 20px;
    		width: 250px;
    		.nav-item{
    			&.active{
    				.nav-link{
    					font-weight: bold;
    					span{
	    					opacity: 1;
	    					@include transform(translateX(0));
	    					font-weight: bold;
    					}
    				}
    			}
    			.nav-link{
    				color: #ffffff;
    				text-transform: uppercase;
    				padding-left: 0px;
    				padding-top: .2rem;
    				padding-bottom: .2rem;
    				span{
    					opacity: 0;
    					display: inline-flex;
    					position: relative;
    					@include transform(translateX(-100%));
    					@include transition(transform ease 0.3s 0.3s, opacity ease 0.3s 0.3s);
    				}
    				&.active, &.mPS2id-highlight, &:hover{
    					font-weight: bold;
    					span{
	    					opacity: 1;
	    					@include transform(translateX(0));
	    					font-weight: bold;
    					}
    				}

    			}
    		}
    	}
    }
}

.bg-section{
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	min-height: 550px;
	&.content-center{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&.section-auto{
		height: auto;
	}
	&.blue-freeze{
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/gositus/hello-alva.jpg);
	}
	&.wolf{
		background-image: url(../../assets/gositus/wolf.jpg);
	}
	&.cucumber{
		background-image: url(../../assets/gositus/cucumber.jpg);
	}
	&.texture{
		background-image: url(../../assets/gositus/grunge-texture.jpg);
	}
	&.white{
		color: #ffffff;
		.short-text, .main-title{
			color: #ffffff;
		}
	}
	.short-text{
		color: #717171;
	}
	.main-title{
		color: $text-dark;
	}
	
}

.bg-contact{
	background-image: linear-gradient(to top, #2a4e97, rgba(6, 139, 180, 0));
	padding-top: 75px;
	min-height: 100vh;
	.main-title{
		color: $blue-light;
	}
	.form-box{
		background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
		padding: 30px 50px;
	}
}

.relative{
	position: relative;
}

.content-center{
	.img-center{
		position: absolute;
		height: 80%;
	}
}

#legalage{
	.main-title{
		color: $blue-light;
	}
	.modal-body{
		padding: 60px 95px;
		background-image: url(../../assets/gositus/overlay.png), url(../../assets/gositus/frosty-natural.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.btn-modal{
	border-radius: 0px;
	font-weight: bold;
	color: $blue-light;
	padding: 7px 20px;
	font-size: 18px;
	background-color: transparent;
	border: 3px solid;
	border-color: transparent;
	&:hover{
		border-color: #ffffff;
		color: $blue-light;
	}
	&.active{
		background-color: #ffffff;
		border-color: #ffffff;
		&:hover{
			background-color: transparent;
		}
	}
}

.modal-backdrop{

}


.main-title{
	color: #ffffff;
	font-weight: bold;
	font-size: 80px;
	&.x2{
		font-size: 70px;
	}
	&.x3{
		font-size: 38px;
	}
}

.vodka-slider{
	.item{
		&:focus{
			outline: unset;
		}
		.image{
			text-align: center;
			img {
			    height: calc(100vh - 170px);
			    margin: auto;
			}
		}
		.hello-privet{
			position: absolute;
			right: 15px;
			top: 0px;
			width: 33.3333%;
		}
	}
	.slick-dots{
		position: absolute;
		padding-left: 0px;
		text-align: center;
		width: 80%;
		left: 50%;
		bottom: 50px;
	    margin: auto;
	    @include transform(translateX(-50%));
		li{
			display: inline-block;
			width: 20%;
			margin: 0px 10px;
			cursor: pointer;
			&.slick-active{
				div:not(.if_active){
					display: none;
				}
				div{
					background-color: #85c441;					
					&.if_active{
						display: block;
					}
				}
				span{
					font-weight: bold;
				}
			}
			button{
				display: none;
			}
			div{
				width: 100%;
				height: 5px;
				background-color: #ffffff;
				&.if_active{
					display: none;
				}
			}
			span{
				display: block;
				margin-top: 7px;
				font-size: 15px;
				color: #ffffff;
				text-transform: uppercase;
			}
		}
	}
}

.our-vodka{
	min-height: 500px;
	.slider-navigation{
		position:absolute;
		width: 80%;
		left: 50%;
		bottom: 80px;
		@include transform(translateX(-50%));
	}
}

.slider-navigation{
	width: 80%;
	position: relative;
	&.center-side{
		width: 100%;
		position: unset;
	}
	&.nav-dark{
		.btn i{
			color: $text-dark;
		}
	}
	.btn-prev, .btn-next{
		color: #ffffff;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		font-size: 26px;
		&:focus, &:active{
			outline: unset;
			box-shadow: unset;
		}
	}
	.btn-prev{
		left: 0;
	}
	.btn-next{
		right: 0;
	}
}

.gallery{
	padding-top: 70px;
	padding-bottom: 20px;
    background-image: linear-gradient(to top, white 65%, transparent);
}

.overflow{
	overflow: hidden;
}

.gallery-slider{
	margin-right: -7.5px;
	margin-left: -7.5px;
	.item{
		padding-left: 7.5px;
		padding-right: 7.5px;
		&:focus{
			outline: unset;
		}
		.image-wrapper{
			position: relative;
    		overflow: hidden;
			&:before{
				content: '';
    			display: block;
    			padding-bottom: 100%;
			}
			img{
			    position: absolute;
			    left: 0;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    object-fit: cover;
			}
		}
	}
}

.btn-mix{
	color: #ffffff;
	background-color: $blue-light ;
	border: 2px solid $blue-light;
	padding: 8px 20px;
	font-weight: bold;
	&:hover{
		background-color: transparent;
		color: $blue-light;
	}
}

a{
	&:hover{
		text-decoration: unset;
	}
}

.user-instagram{
	color: $text-dark;
	font-size: 28px;
	font-weight: bold;
}

.coverflow-slider{
	.item{
		img{
			max-width: 100px;
		}
	}
}

.flipster__item img {
    max-width: 300px;
}
.flipster--carousel .flipster__item--past-1, .flipster--carousel .flipster__item--past-2{
	opacity: 0;
	@include transition(.2s ease-out);
}
.flipster--carousel {
	.flipster__item--current .flipster__item__content {
	    @include transform(translateX(0) rotateY(0deg) scale(.8));
	    @include transition-delay(60ms);
	}
	.flipster__item--future-1 .flipster__item__content {
	    @include transform(translate(-45%, 12px) rotateY(0deg) scale(.8));
	    opacity: .5;
	}
	.flipster__item--future-2 .flipster__item__content {
	    @include transform(translate(-90%, 24px) rotateY(0deg) scale(.8));
	    opacity: .5;
	}
}

.form-box{
	.form-control{
		border-radius: 0px;
		&.error{
			border-color: red;
		}
		&:focus{
			outline: unset;
			box-shadow: unset;
		}
	}
	input.form-control{
		height: calc(1.5em + .75rem + 7px);
	}
	label{
		font-weight: bold;
	}
}

.foot{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 0px;
	a { color: #ffffff; }
	.brand-foot img{
		width: 80px;
	}
	.foot-right{
		color: #ffffff;
		ul{
			list-style: none;
			display: block;
			li{
				display: inline-block;
				font-size: 24px;
				padding-left: 10px;
			}
		}
	}
}

#kotakkosong {
    display: none;
}

#copyright-gositus {
    background: url(../../assets/gositus/go-online-solusi.png) no-repeat left bottom;
    height: 20px;
    padding-left: 23px;
    color: inherit;
    display: inline-block;
    background-size: 18px;
    &:hover {
	    background-position: left top;
	}
}

.modal-content{
	border: unset;
}

.modal-backdrop{
	background: linear-gradient(180deg, rgba(255,255,255,0.6), transparent);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    &.show{
    	opacity: 1;
    }
}

.copyright-top{
	position: absolute;
    z-index: 2;
    right: 0;
    top: 50px;
    color: white;
    font-size: 14px;
}
//responsive
@import "desktop.scss";
@import "tablet.scss";
@import "mobile.scss";
@import "small_mobile.scss";